<%= render :partial => 'admin/shared/book_sub_menu' %>




<h1>排行榜</h1>
<div id='result'></div>
<table>

 <tr>
    <th>序号</th>
    <th>网站</th>
    <th>链接</th>
    <th>操作</th>
 </tr>
  <% BkHotsite.where('1=1').each do |bk| %>
 <tr>
    <td><%= bk.id %></td>
    <td><%= bk.name %></td>
    <td><%= bk.url %></td>
    <td>
    	<%= link_to 'refresh', admin_bk_toplist_path(bk), :remote => true, 'data-update' => 'result' %>
    </td> 	
    <% end %>
 </tr>
</table>

<br />
