<fieldset>
  <%= f.field_container :name do %>
    <%= f.label :name, '公司名' %> <span class="required">*</span><br />
    <%= f.text_field :name, :class => 'fullwidth title'  %>
    <%= f.error_message_on :name %>
  <% end %>
    <%= f.field_container :channel do %>
    <%= f.label :channel, '渠道号' %> <span class="required">*</span><br />
    <%= f.text_field :channel, :class => 'fullwidth title'  %>
    <%= f.error_message_on :channel %>
  <% end %>
</fieldset>
