<fieldset>
  <%= f.field_container :name do %>
    <%= f.label :name, '公司名' %> <span class="required">*</span><br />
    <%= f.text_field :name, :class => 'fullwidth title'  %>
    <%= f.error_message_on :name %>
  <% end %>
  
  <label for="chs">渠道号</label>
  <br />
  <input type="text" class="fullwidth title" id="chs" name="chs" size=30 value="<%= @chs %>" />
	<br />
</fieldset>
