<script type="text/javascript">
  $(function(){
    $("#dialog").dialog({autoOpen: false, show: "blind", hide: "blind", width: 580});
    $("#dialog").dialog("close");
  });
  
 function import_data(){
    $.ajax({
      type: 'POST',
      url: 'balances/import',
      data: ({authenticity_token: AUTH_TOKEN, brand:$('#import_brand').val(), data: $('#import_text').val()}),
      success: function(r){
        if (r=='ok')
        	reload_tab();
        else
          alert(r);
      }
    });
  }
  function reload_tab(){
  	$('#tabs').tabs("load", 1);
  }
  function clear_data(){
  	$.get('balances/clear');
  	reload_tab();
  }
  function save_data(){
  	$.get('balances/save');
  	reload_tab();
  }
  function open_dialog(){
  	 $("#dialog").dialog("open");
  }
</script>

<div class='toolbar'>
	
  <ul class='actions'>
    <li>
      <a href="#" class="button" onclick="open_dialog();">
	      <span><img alt="Add" src="/images/admin/icons/add.png">导入数据</span>
	  </a>
    </li>
    <li>
      <a href="#" class="button" onclick="save_data();" >
	      <span><img alt="Add" src="/images/admin/icons/add.png">发布数据</span>
	  	</a>
    </li>
    <li>
      <a href="#" class="button" onclick="clear_data();">
      	<span><img alt="Add" src="/images/admin/icons/add.png">清空</span>
      </a>
    </li>
  </ul>
  
  <br class='clear' />
</div>

<div id="import_data"></div>

<table>
	<thead>
		<tr>
			<th>日期</th>
			<th>合作商</th>
			<th>营销ID</th>
			<th>结算用户数</th>
			<th>产品类型</th>
			<th>备注</th>
		</tr>
	</thead>
	<tbody>
		<% @balances.each do |b| %>
		<tr>
			<td><%= b.balance_date %></td>
			<td><%= b.channel %></td>
			<td><%= b.channel %></td>
			<td><%= b.count %></td>
			<td><%= b.product_id %></td>
			<td><%= b.remark %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<div id="dialog" title="导入数据">
	<p>
		<span class="ui-icon ui-icon-circle-check" style="float:left;margin:0 7px 50px 0;"></span>
		请把excel表格数据拷贝粘贴到下面文本框中。
	</p>
    <p>
      产品：
      <input type="text" id="import_brand" />
    </p>
	<p>
      <textarea id="import_text" cols="80" rows="12" ></textarea>
      <input type="button" onclick="import_data();" value="导入数据" />
    </p>
</div>
