<script type="text/javascript">
  $(function(){
    $('#date_start').datepicker({ dateFormat: 'yy-mm-dd' });
    $('#date_end').datepicker({ dateFormat: 'yy-mm-dd' });
  });
  function do_query(){
  	var url = 'balances/query?company=' + $('#sele_company').val() + '&from=' + $('#date_start').val() + '&to=' + $('#date_end').val();
  	reload_query_tab(url);
  }
</script>

<div class='toolbar'>
	开始日期：<input type="text" id="date_start" value="<%= params[:from]%>" />
	结束日期：<input type="text" id="date_end" value="<%= params[:to]%>" />
	<select id="sele_company">
		<option value="0">全部公司的数据</option>
		<% @companies.each do |c| %>
		<option <%= 'selected="selected"' if c.id == @current %> value="<%= c.id%>"><%= c.name%></option>
		<% end %>
	</select>
  <input type="button" value="查询" onclick="do_query();" />
  <br class='clear' />
</div>

<div id="import_data"></div>

<table>
	<thead>
		<tr>
			<th>日期</th>
			<th>合作商</th>
			<th>营销ID</th>
			<th>结算用户数</th>
			<th>产品类型</th>
			<th>备注</th>
		</tr>
	</thead>
	<tbody>
		<%
		  tot_count = 0
			@balances.each do |b| %>
		<tr>
			<td><%= b.balance_date %></td>
			<td><%= b.channel %></td>
			<td><%= b.channel %></td>
			<td><%= b.count %></td>
			<td><%= b.product_id %></td>
			<td><%= b.remark %></td>
		</tr>
		<% 
			tot_count += b.count
			end %>
	</tbody>
	<thead>
		<tr style="bgcolor:#aaaaaa;">
			<th>合计</th>
			<th></th>
			<th></th>
			<th><%= tot_count %></th>
			<th></th>
			<th></th>			
		</tr>
	</thead>
</table>

