<div class="yui-gc">
  <div class="yui-u first">
      <%= f.field_container :reader_id do %>
        <%= f.label :reader_id, t(":reader_id") %> <span class="required">*</span><br />
        <%= f.text_field :reader_id, :class => 'fullwidth title'  %>
        <%= f.error_message_on :reader_id %>
      <% end %> 

      <%= f.field_container :book_id do %>
        <%= f.label :book_id, t(":book_id") %> <span class="required">*</span><br />
        <%= f.text_field :book_id, :class => 'fullwidth title'  %>
        <%= f.error_message_on :book_id %>
      <% end %>

      <%= f.field_container :chapter_id do %>
        <%= f.label :chapter_id, t(":chapter_id") %><br />
        <%= f.text_field :chapter_id, :class => 'fullwidth title'  %>
        <%= f.error_message_on :chapter_id %>
      <% end %>


  </div>
</div>

