<%= render :partial => 'admin/shared/book_sub_menu' %>

<%= render "shared/error_messages", :target => @book_chapter %>

<%= form_for(:book_chapter,  :url => collection_url, :html => { :multipart => true }) do |f| %>
<fieldset>
  <%= f.field_container :book_id do %>
    <%= f.label :book_id, t("book_id") %> <span class="required">*</span><br />
    <%= f.text_field :book_id, :class => 'fullwidth title'  %>
    <%= f.error_message_on :book_id %>
  <% end %>


  <div class="yui-gb">
    <div class="yui-u first">

  <%= f.field_container :chaptername do %>
    <%= f.label :chaptername, t("chaptername") %> <span class="required">*</span><br />
    <%= f.text_field :chaptername, :class => 'fullwidth title'  %>
    <%= f.error_message_on :chaptername %>
  <% end %>

      <%= f.field_container :length do %>
        <%= f.label :length, t("length")%><br />
        <%= f.text_field :length  %>
        <%= f.error_message_on :length%>
      <% end %>
      
      <%= f.field_container :page do %>
        <%= f.label :page, t("page")%><br />
        <%= f.text_field :page  %>
        <%= f.error_message_on :page%>
      <% end %>

    </div>
  </div>

  <%= render :partial => 'admin/shared/new_resource_links' %>

</fieldset>
<% end %>
