
<% if !@balances %>
<h2>未找到您的数据。</h2>
<% else %>
<h1>数据统计表 （ID:<%= @user.id %>, 公司名：<%= @company.name %>）</h1>
<p>渠道号：<%= @company.channel %></p>

<table>
	<thead>
		<tr>
			<th>日期</th>
			<th>产品</th>
			<th>营销ID</th>
			<th>计费次数</th>
			<th>单价</th>
			<th>小计</th>
			<th>备注</th>
			<th>结算标志</th>
		</tr>
	</thead>
	<tbody>
		<% @balances.each do |b| %>
		<tr>
			<td><%= b.balance_date  %></td>
			<td><%= b.product_id  %></td>
			<td><%= b.channel %></td>
			<td><%= b.count  %></td>
			<td><%= b.price  %></td>
			<td><%= b.amount  %></td>
			<td><%= b.remark  %></td>
			<td><%= b.status  %></td>
		</tr>
		<% end %>
	</tbody>
</table>
<% end %>
