
<% if !@balances %>
<h2>未找到您的数据。</h2>
<% else %>
<h1><b id="<%= @user.id %>"><%= @company.name %></b> 数据统计表</h1>
<p>渠道号：
	<% @company.channels.each do |ch| %>
		<%= ch.channel %>, 
	<% end %></p>

<table>
	<thead>
		<tr>
			<th>日期</th>
			<th>产品</th>
			<th>营销ID</th>
			<th>计费次数</th>
			<th>单价</th>
			<th>小计</th>
			<th>备注</th>
			<th>结算标志</th>
		</tr>
	</thead>
	<tbody>
		<% tot_count = 0
		   tot_amount = 0
		 %>
		<% @balances.each do |b| %>
		<tr>
			<td><%= b.balance_date.strftime("%Y.%m.%d") %></td>
			<td><%= b.product_id  %></td>
			<td><%= b.channel %></td>
			<td><%= b.count  %></td>
			<td><%= b.price  %></td>
			<td><%= b.amount  %></td>
			<td><%= b.remark  %></td>
			<td><%= b.status  %></td>
		</tr>
		<%
			tot_count += b.count
			tot_amount += b.amount
			end %>
		<tfoot style="border-top:solid 1px gray;">
		<tr>
			<td>合计</td>
			<td></td>
			<td></td>
			<td><%= tot_count  %></td>
			<td></td>
			<td><%= tot_amount  %></td>
			<td></td>
			<td></td>
		</tr>
		</tfoot>
	</tbody>
</table>
<% end %>
