<h1>Operates</h1>

<p>ID:<%= @op.id%></p>
<p>User id: <%= @op.cm_user_id%></p>
<p>Url: <%= @op.url %></p>
<p>Operate: <%= @op.operate%></p>
<p>Created at: <%= @op.created_at%></p>

<p>Result: <pre style="border:solid 1px #ccc;padding:4px;"><%= @op.result%></pre></p>
<p>request header: <pre style="border:solid 1px #ccc;padding:4px;"><%= @op.request_header%></pre></p>
<p>response header: <pre style="border:solid 1px #ccc;padding:4px;"><%= @op.response_header%></pre></p>
