<% content_for :sub_menu do %>
  <ul id="sub_nav">
    <%= hook :admin_data_sub_tabs do %>
      <li><a href="/admin/monthly_chart">数据图表</a></li>
      <%= tab :book_clients, :match_path => '/book_clients' %>
      <%= tab :companies, :match_path => '/companies' %>
      <%= tab :customers, :match_path => '/customers' %>
      <li class="last"><a href="/admin/balances">导入数据</a></li>
      <%= tab :channels, :match_path => '/channels', :css_class => 'last' %>
    <% end %>
  </ul>
<% end %>
